In [3]:
import pandas as pd

# General stuff

def mean(X):
    '''Mean'''
    return sum(X)/len(X)
    
# ANOVA

def anova_analysis(groups):
    m = len(groups)
    n = sum(len(x) for x in groups)
    mu = mean([x for X in groups for x in X])
    ssq = sum((x-mu)**2 for X in groups for x in X)
    ssb = sum(len(X)*(mean(X) - mu)**2 for X in groups)
    f_value = (ssb/(m-1)) / ((ssq-ssb)/(n-m))
    dframe = pd.DataFrame([
            [m-1,ssb, ssb/(m-1), f_value],
            [n-m,ssq-ssb, (ssq-ssb)/(n-m),'']], 
            ['Group','Residuals'],['Df','Sum sq', 'Mean sq', 'F value'])
    return dframe

In [4]:
dframe = pd.read_csv('data/genetherapy.csv')

names = sorted(list(set(dframe['Therapy'])))
groups = [[x for x in dframe[dframe['Therapy'] == group]['expr']] for group in names]

anova_analysis(groups)

           Df       Sum sq     Mean sq F value
Group       3   560.716667  186.905556  8.0373
Residuals  56  1302.266667   23.254762